body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.bg{
    width: 70vw;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

a{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: gainsboro;
    text-decoration: none;
    position: relative;
}

a:after{
    content: '';
    background-color: purple;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

a:hover{
    color: white;
}

a:hover:after{
    width: 100%;
}

